@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=IBM+Plex+Sans:wght@300;500&family=Open+Sans');

.App {
  text-align: center;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}
h1 {
  font-family: 'Bree Serif', serif;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}


#nav {
  background-color: #1f6317;
  box-shadow: 0 8px 6px -6px black;

  a {
    text-decoration: none;
    color: white;
    padding-left: 15px;
  }

}

.nav-brand {
  font-family: 'Bree Serif', serif;
  font-size: 20px;
}