.all-critters-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  margin-left: 5vw;
}

.critters-border {
  border: 1px solid #2d3b25;
  background-color: #c6e8c0;
}

.hide {
  border: 1px solid #2d3b25;
  background-color: #496020;
  opacity: 0.3;
}

.cursor-point {
  display: block;
  cursor: pointer;
}

.months-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
