

div {

    .all-critters-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90vw;
        // padding-left: 5vw;
        margin-left: 5vw;
    }

    .crittersBorder {
        border: 1px solid #496020;
        background-color: #c6e8c0;
    }

}