

.singleCritContainer {
    display: flex;
    background-image: url('https://i.imgur.com/Gw6HYuj.png?1');
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 5;
    position: relative;
    top: 20px;
    width: 100vw;
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
}

.imgBlurb {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5vw 0 5vw;
    border-top: 1px solid #E2D2A1;
    border-bottom: 1px solid #E2D2A1;

    img {
        height: 200px;
    }

    p {
        padding: 0 5vw 0 5vw;
     
    }
}


@media only screen and (min-width: 768px) {
    .singleCritContainer {
        display: flex;
        background-image: url('https://i.imgur.com/A5vUMHl.png');
        background-size: cover;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        z-index: 5;
        position: relative;
        top: 20px;
        width: 80vw;
        margin-left: 10vw;
        margin-bottom: 10vh;
    }
}