.animals-title-margin{
  margin: 5px 0 5px 0;
}

.move-price {
  position: absolute;
  top: 80%;
  bottom: 20%;
  transform: translate(20%, 100%);
  z-index: 300;
  color: black;
  text-shadow: #c6e8c0 3px 0 2px;
}

.all-critters-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2% 0 5% 0;
}

.critters-border {
  border: 1px solid #2d3b25;
  background-color: #c6e8c0;
  position: relative;
  text-align: center;
}

.hide {
  border: 1px solid #2d3b25;
  background-color: #496020;
  opacity: 0.3;
}

.cursor-point {
  cursor: pointer;
}

.cute-button {
  background-color: #99F5D5;
  border-radius: 1rem;
  border: 3px solid #99F5D5;
  padding: 2px;
}

.selected-month {
  height: 2.3rem;
  width: 9.5rem;
  background-color:  #77C038;
  border-radius: 1rem;
  border: 3px solid green;
}

.center-me {
 display: flex;
 width: 98%;
 height: 98%;
 align-items: center;
 justify-content: center;
}

.all-months-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.months-grid {
  height: 100%;
  width: 40%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
}

@media only screen and (max-width: 750px)  {

  .all-critters-grid {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .months-grid {
    width: 99%;
  }

  .cute-button {
    padding: 0px;
    font-size: 1rem;
  }
}
